html,
body,
#container,
.search {
  height: 100%;
  width: 100%;
  position: relative;
}

#container {
  margin-left: 300px;
  display: inline-block;
}

.search {
}

.line {
  height: 100%;
  width: 300px;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  /* padding: 10px; */
  /* margin: 0 auto; */
  /* padding: 10px; */
  /* line-height: 40px; */
}

.layui-form-radio {
  margin: 4px 5px 0 0;
}

.layui-form-label {
  display: inline-block;
}

.line .layui-form-label {
  width: auto;
}

.layui-form {
  padding: 0px 10px;
}

.textArea textarea {
  min-height: 80px;
}

.layui-input-block,
.layui-form-item {
  display: inline-block;
  width: 100%;
}

.clearForm {
  padding: 0;
}

.clearForm .layui-form-item {
  margin-bottom: 0;
}

.layui-input-block {
  margin-left: 0;
  width: 100%;
}

.layui-form-item {
  margin-bottom: 0;
}

.display__b {
  display: block;
}

.am-form-group {
  margin: 0 20px;
  display: inline-block;
}

.widSty {
  /* width: 250px; */
}

.textIn {
  height: 20px;
  width: 200px;
}

.layui-input-block {
  min-height: 25px;
}

.layui-textarea {
  min-height: 20px;
}

.layui-form-item {
  margin-bottom: 10px;
}

.coll {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
}